<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- 目标bean  -->
    <bean id="target" class="org.lql.NavieWaiter"/>

    <!--  切面  -->
    <bean class="org.lql.aspectj.example.PreGreetingAspect"/>

    <!--  基于@Aspect切面的驱动器  -->
    <aop:aspectj-autoproxy/>
    <!--  自动代理创建器，自动将@AspectJ注解切面织入目标Bean中  -->
<!--    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>-->
</beans>